---
- hosts: slave2
  become: yes

  vars_prompt:
    - name: package
      prompt: Enter package name
      private: false

    - name: state_of_package
      prompt: what is package state(present/absent/latest)?
      private: false

    - name: status_of_package
      prompt: enter status(started/stopped/restarted)?
      private: false
  
  tasks:
  - name: installing {{ package }}
    ansible.builtin.package:
      name: "{{ package }}"
      state: "{{ state_of_package }}"
    
  - name: staring and enabling {{ package }}
    ansible.builtin.service:
      name: "{{ package }}"
      state: "{{ status_of_package }}"  # Ensures the service is running
      enabled: true   # Ensures the service starts on boot

        